// general styles

$global-transition: 150ms color linear, 200ms background-color ease-in-out,
  150ms width linear, 200ms border-color linear, transform 200ms linear,
  margin 220ms linear, 150ms opacity linear, 140ms box-shadow linear;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $global-transition;

  &::selection {
    background-color: $primary-color;
    color: $white;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  overflow-x: hidden;
  font-family: 'Varela Round';

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: transparent;
    transition: $global-transition, background-color linear 120ms;
  }

  @include responsive_small {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.noselect {
  user-select: none;
}

.section-container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 45px 15px;

  @include responsive_large {
    padding: 25px 15px;
  }

  @include responsive_small {
    padding: 20px 10px;
  }
}

.btn {
  display: inline-block;
  min-width: 145px;
  max-width: fit-content;
  width: 100%;
  background-color: $dark;
  color: $light;
  font-family: inherit;
  font-size: inherit;
  line-height: 22px;
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;

  @include responsive_medium {
    padding: 5px;
  }

  &:disabled {
    background-color: rgba($dark, 0.55) !important;
    cursor: no-drop !important;
    color: $light !important;
    border-color: transparent !important;
    transform: translate(0) !important;
  }

  &:hover {
    transform: translateY(-5px);
    border-color: $dark;
    color: $dark;
    background-color: transparent;
  }
}
