// styles for game section
.game-section {
  text-align: center;

  h2 {
    font-size: inherit;
  }

  .category {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 15px;
    line-height: 26px;

    @include responsive_medium {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 5px;
    }
  }

  .index {
    color: $grey;
    font-size: 15px;
  }

  .question {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color: $dark-secondary;
    height: 90px;

    @include responsive_medium {
      font-size: 18px;
      line-height: 22px;
      max-width: 600px;
    }
  }

  .options {
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
    width: 100%;

    @include responsive_medium {
      max-width: 550px;
    }
  }

  .option {
    @include flex(left);
    font-family: 'Nunito';
    background-color: rgba($grey, 0.45);
    padding: 10px 20px;
    margin: 15px auto;
    border: 3px dashed transparent;
    border-radius: 15px;
    cursor: pointer;
    gap: 13px;

    .radio-dot {
      padding: 8px;
      width: 20px;
      height: 20px;
      border: 2px solid rgba($dark-secondary, 0.5);
      border-radius: 40px;
      position: relative;

      &::before {
        content: '';
        width: 9px;
        height: 9px;
        position: absolute;
        border-radius: inherit;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        transition: inherit;
      }
    }

    &:hover,
    &.selected {
      border-color: $primary-color;
      background-color: rgba($primary-color, 0.1);

      .radio-dot {
        border-color: $primary-color;
        &::before {
          background-color: $primary-color;
        }
      }
    }
  }

  .button-container {
    margin-top: 45px;
    @include flex(center);
    gap: 25px;

    @include responsive_small {
      margin-top: 30px;
      gap: 10px;
    }

    .btn {
      padding: 15px 10px;
      border-radius: 10px;
      @include flex(center);
      max-width: 230px;
      gap: 5px;
      color: $dark;
      border-color: transparent !important;
      transform: translate(0) !important;

      @include responsive_medium {
        padding: 10px 5px;
      }

      @include responsive_small {
        max-width: fit-content;
        &-text {
          display: none;
        }
      }

      &:hover,
      &:active {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      }

      svg {
        font-size: 20px;
      }

      &.prev {
        background-color: $grey;
      }

      &.next {
        background-color: $primary-color;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
