// styles for home section
.home-section {
  text-align: center;

  .heading {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    max-width: 750px;
    margin: 60px auto;
    margin-top: 0;

    @include responsive_medium {
      font-size: 20px;
      line-height: 25px;
      margin: 35px auto;
      margin-top: 0;
    }

    @include responsive_small {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .categories-container {
    @include flex(center);
    flex-wrap: wrap;
    gap: 10px;
    max-width: 800px;
    margin: 30px auto;

    @include responsive_small {
      gap: 8px;
    }
  }

  .category {
    padding: 8px 20px;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;

    @include responsive_medium {
      padding: 5px 15px;
    }

    @include responsive_small {
      padding: 4px 10px;
    }

    &:hover,
    &.select {
      background-color: rgba($primary-color, 0.5);
    }
  }
}
